<center>
    <h1 class="info"> Keep a track of your tasks!</h1>
</center>
<%- include("partials/header.ejs") %>

<h1 class="date"><%= title %></h1>

<ul>
    <% newItem.forEach(function(item, i) { %>
      <li>
        <input type="checkbox" class="item-checkbox" id="item<%= i %>" />
        <label for="item<%= i %>"><%= item.name %></label>
        <form action="/delete" method="POST">
          <input type="hidden" name="ObjectID" value="<%= item._id %>" />
          <input type="hidden" name="listName" value="<%= title %>" />
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </li>
    <% }); %>
    <form action="/" method="POST">
      <div class="input-container">
        <input type="text" class="newItem" name="newItem" autocomplete="off" placeholder="Add new task"/>
        <button name="list" value="<%= title %>" style="background-color: rgb(255, 0, 0); font-size: 30px; border-radius: 50%; width: 40px; height: 40px; transform: translateY(5px);" type="submit">+</button>
      </div>
    </form>
</ul>
<script>
    const checkboxes = document.querySelectorAll('.item-checkbox');
    checkboxes.forEach((checkbox, index) => {
      checkbox.addEventListener('change', () => {
        const label = document.querySelector(`label[for="item${index}"]`);
        label.classList.toggle('strikethrough');
      });
    });
</script>
<%- include("partials/footer.ejs") %>
